*.suo
*.user
*.cachefile
/CloudWars/CloudWars/bin
/CloudWars/CloudWars/obj
/CloudWars/CloudWarsContent/bin
/CloudWars/CloudWarsContent/obj
/CloudWars.Windows/CloudWars.Windows/bin
/CloudWars.Windows/CloudWars.Windows/obj
/CloudWars.Windows/CloudWars.WindowsContent/bin
/CloudWars.Windows/CloudWars.WindowsContent/obj